.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    padding-left: calc(var(--navbar-width) - 12px);
    padding-right: 12px;
    background-image: linear-gradient(90deg, #26262e, #1f1223);
    &-back, &-forward {
        font-size: 28px;
    }

    &-avatar {
        margin: 0px 16px;
    }
}

.footer {
    background-image: linear-gradient(90deg, #26262e, #1f1223);
}